// colors
$white: #ffffff;
$darkRed: #ce3232;
$blackTitle: #393939;
$blackParagraph: #575757;
$anotherBlack: #505050;
$gray: #f0f0f0;
$blackBackground:linear-gradient(to right, #434343, #000000);
$greenBackground:linear-gradient(to right, #0575E6, #00F260);
